<!DOCTYPE html>
<html lang="en" ng-app="kalahGame">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body ng-controller="KalahGameController">
    <h1>{{ board.whosTurn }}</h1>
    <table class="table" ng-repeat="player in players">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ player.name }}</th>
                <th></th>
                <th></th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td ng-repeat="pit in player.stones track by $index" ng-click="postClick(player, $index)">{{ pit }}</td>
            <td style="background-color: aquamarine">{{ player.score }}</td>
        </tr>
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/kalahController.js"></script>
</body>
</html>